:root {
    --principal-color: rgb(183, 136, 226);
    --texto-color: black;
    --barra-lateral-color: rgb(240, 164, 240);
    --barra-lateral-fuente: 'Marck Script', cursive;
    --margin-color: black;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

/*----------------------------------------------------------------------------------------------*/










.reservar-boton {
    width: 20rem;
}

/*----------------------------------------------------------------------------------------------*/

.banner-titulo {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 8rem;
}

.banner-direccion {
    font-size: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
}

.peinado-banner {
    margin-left: 0;
}