:root {
    --principal-color: #b788e2;
    --texto-color: black;
    --barra-lateral-color: #c5aedd;
    --color1: #AF82D9;
    --color2: #555059;
    --color3: #8663A6;
    --principal-color-1: #3a1853;
    --principal-color-2: #582f74;
    --principal-color-3: #6b3990;
    --principal-color-4: #7e41af;
    --principal-color-5: #9454c9;
    --principal-color-6: #a972da;
    --principal-color-7: #b788e2;
    --principal-color-8: #d9c1f1;
    --principal-color-9: #eaddf7;
    --principal-color-10: #f3ecfb;
    --principal-color-11: #faf7fd;
    --barra-lateral-fuente: 'Marck Script', cursive;
    --margin-color: black;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    position: relative;
}

main {
    z-index: 1;
}


/*----------------------------------------------------------------------------------------------*/

.barra-lateral {
    display: block;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -80%;
    z-index: 2;
    background-color: var(--barra-lateral-color);
    transition: all 0.4s;
}

.barra-lateral-activar {
    transform: translate(99%);
    transition: all 0.4s;
}

.barra-lateral-cerrar-container{
    display: block;
    position: relative;
}

.barra-lateral-cerrar-img {
    width: 5rem;
    padding: 1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}

.barra-lateral-lista {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.barra-lateral-bar ul {
    list-style: none;
}

.barra-lateral-elemento{
    display: inline;
    margin-bottom: 3rem;
}

.barra-lateral-elemento a {
    text-decoration: none;
    color: var(--texto-color);
    font-size: 4.6rem;
    font-family: var(--barra-lateral-fuente);
}

.reservar-boton-aside  {
    width: 42vw;
    min-width: 13.5rem;
    max-width: 18rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--barra-lateral-color);
    border-radius: 2rem;
    border: 1px solid var(--margin-color);
    cursor: pointer;
}

.reservar-boton-aside:hover {
    transform: scale(1.02);
}

.reservar-boton-aside:active {
    transform: scale(0.95);
}

.reservar-boton-aside-contenedor{
    text-decoration: none;
    color: var(--texto-color);
}

/*----------------------------------------------------------------------------------------------*/

header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 1rem 1rem;
    background-color: var(--principal-color) ;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--margin-color);
    z-index: 1;
}

.navbar {
    display: none;
}

.menu-img {
    width: 4rem;
    padding: 1rem;
    margin-left: 0rem;
    justify-self: start;
    cursor: pointer;
}

.logo-imagen {
    width: 15rem;
}

.reservar-boton {
    display: none;
    width: 42vw;
    min-width: 12.6rem;
    max-width: 20rem;
    padding: 1rem;
    background-color: var(--principal-color);
    border-radius: 2rem;
}

/*----------------------------------------------------------------------------------------------*/

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--principal-color);
    
}

.formulario-contenedor{
    width: 90%;
    padding: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--margin-color);
    border-radius: 2rem;
    background-color: var(--barra-lateral-color);

}

.formulario-seccion {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}

.input-container {
    margin-bottom: 3rem;
    position: relative;
}

.input-field {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    outline: none;
}

.input-field::placeholder {
    color: #A2A2A2;
}

.label-field {
    font-size: 1.6rem;
    position: absolute;
    left: 1rem;
    top: 1.6rem;
    color:#A2A2A2;
    transition: all 0.3s;
}

.input-field:not(:placeholder-shown) + .label-field, 
.input-field:focus(:placeholder-shown) + .label-field{
    top: 0.1rem;
    font-size: 1.1rem;
    transition: all 0.3s;
}

/*----------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------*/